th {
    font-size: larger;
    background-color: #BCB8B1;
  }
  
table, td, th, tr, thead {
    border: 3px solid black;
    text-align: center;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    border-collapse: initial;
    
  }

.replies {
    display: table;
    width: 100%;
}



/* .CommentsList {
    position: relative;
    left: 800px;
    bottom: 400px;
    
} */