th {
    font-size: larger;
    background-color: #BCB8B1;
  }
  
table, td, th, tr, thead {
    
    text-align: center;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    /* border-collapse: initial; */
    
  }

/* .replies {
    position: relative;
    left: 50px;
} */

.border{
  border-width: 5;
    border-color:black solid;
    border-style: groove;
    
}


/* .CommentsList {
    position: relative;
    left: 800px;
    bottom: 400px;
    
} */