.button1{
    padding-left: 2;
    padding-right: 2;
    margin-left: 2;
    margin-right: 2;
}

.navbar{
    background-color: aquamarine;

}

.sidebar1{
    background-color: rgb(236, 12, 12);
    text-align: left;
    border-width: 5;
    border-color:black solid;
    border-style: groove;
    
}

.sidebar2{
    background-color: green;
    text-align: left; border-width: 5;
    border-color:purple solid;
    border-style: groove;
}

.border1{
    border-width: 5;
    border-color:purple solid;
    border-style: groove;

}

